<ul id="menu">	
<% Art.find_all_series.each do |a| %>
	<li class="<%='active' if params[:series] == a %>">
	<%= 
	if (request.url.to_s.include? 'series/') 
		link_to a, a
	else 
		link_to a, "series/" + a
	end
	%>	
	</li>
<% end %>
<% if user_signed_in? %>
  <li>
  <%= link_to 'Add New Image', new_art_path %>
  </li>
<% end %>
</ul>
