<div id="big">

	<div id="menuWrap">
		<div id="session" style="margin-left:5px;">
		<% if user_signed_in? %>
		    <%= current_user.email %> is logged in. <br><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
		<% else %>
		    <%= link_to "Sign In to edit or add Artwork", new_user_session_path %>
		<% end %>
		</div>
		<%= render 'menu' %>		
	</div>
	<div id="content">
		<div id="mc">
				<% if @arts.size <= 9 
					cols = 3
				else
					cols = 4
				end %>	
			
				<% @arts.each_with_index do |art,i| %>
						
					<% if i % cols == 0 %>
						<div class="clr"></div>
					<% end %>	
										
					<% rend = draw_grid(@arts.size, cols, i) %>						

					<%= render rend %>
					<% if art.thumb == "plain.jpg" %>
						<%= image_tag(art.thumb) %>
					<% else %>
						<%= link_to image_tag(art.thumb), art %>
					<% end %>	
					</div>
				<% end %>
		</div>
		<div id="footer">
		</div>		
	</div>
