<div id="big">

	<div id="menuWrap">
		<div id="session" style="margin-left:5px;">
		<% if user_signed_in? %>
		    <%= current_user.email %> is logged in. <br><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
		<% else %>
		    <%= link_to "Sign In to edit or add Artwork", new_user_session_path %>
		<% end %>
		</div>
		<%= render 'menu' %>			
	</div>
	<div id="content">
		<div id="mc">
			<div style="margin-left:15px">
			<p id="notice"><%= notice %></p>

			<p>
			  	<br><br>
				<%= link_to image_tag(@art.image), '/series/' + @art.series %>
			</p>

			<table border="0" cellspacing="0" cellpadding="0" width="610px">
				<tr><td class="b"><br><br><%= @art.name %></td>
				</tr>
			</table>
			
			<% if user_signed_in? %>
				<p>
					<%= link_to 'Destroy', @art, confirm: 'Are you sure?', method: :delete %> |
					<%= link_to 'Edit', edit_art_path(@art) %> |
					<%= link_to 'Back', '/series/' + @art.series %>
				</p>
			<% end %>		
			</div>
		</div>
		<div id="footer">		
		</div>	
		</div>			
	</div>