@font-face {
    font-family: 'HelveticaCYPlain';
    src: url('helveticacy-webfont.eot');
    src: url('helveticacy-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticacy-webfont.woff') format('woff'),
         url('helveticacy-webfont.ttf') format('truetype'),
         url('helveticacy-webfont.svg#HelveticaCYPlain') format('svg');
    font-weight: normal;
    font-style: normal;

}
