body {
	background:#000;
	color:#747679;
	font-family: 'HelveticaCYPlain';	
	font-size:12pt;
}

#big{
	width:1250px;
	height:90%;
	position:absolute;
}
#menuWrap{
	float:left;
	width:35%;	
}
#menu{
	margin-top:80px;
	float:left;
	width:160px;
	overflow:hidden; 
	/*ljgh Begin*/
	font-size:14pt;
	/*ljgh End*/	
}

#menu ul{
	list-style:none;
} 

#menu li a:hover,
#menu li.active a,
.menuAct a{
	color:#babcbe !important;
}

#menu li:hover,
#menu li.active,
.menuAct{
	border-bottom:1px solid #e57200 !important;
}

#menu li a{
	color:#717073;
	text-decoration:none;	
}
#menu li{
	height:27px;
	margin-top:16px;
	border-bottom:1px solid #747679;
	padding-left:15px;
}
#footer{
	float:left;
	padding-bottom:4cm;
	font-size:12px;
}

#content{
	margin-top:70px;	
	width:65%;
	float:left;
}

.gridElement{
	float:left;
	padding-right:15px;
	padding-left:15px;
	border-right:1px solid #616265;
	width:100px;
	height:100px;
	border-bottom:1px solid #616265;
	padding-bottom:15px;
	padding-top:15px;
}

.grRE{
	border-right:0 !important;
	clear:right !important;
}
.grBE{
	border-bottom:0 !important;
	clear:right !important;
}

.grbl{
	border-left:1px solid #616265;
	padding-left:15px;
}

.grbt{
	border-top:1px solid #616265;
	padding-top:15px;
}

.grbb{
	border-bottom:1px solid #616265;
	padding-bottom:15px;
} 

.topMar1{
	border-top:1px solid #747679;
	padding-top:10px;
}

.lab	 {
font-family: 'HelveticaCYPlain';
font-size:10pt;	
vertical-align: bottom;
text-align: center;
}

.lab2	 {
font-family: 'HelveticaCYPlain';
font-size:10pt;	
vertical-align: bottom;
text-align: left;
}
.clr { clear:both; }
.r 	 {border-right: 1px #747679 solid;}
.l 	 {border-left: 1px #747679 solid;}
.b   {border-bottom: 1px #747679 solid;}
.g	 {
border-bottom: 1px #33FF33 solid;
font-family: 'HelveticaCYPlain';
font-size:10pt;	
vertical-align: bottom;
}
.bmenu {border-bottom:1px #e57200 solid;}

#session a:hover
{
	color:#babcbe !important;
	border-bottom:1px solid #e57200 !important;		
}

#session a
{
	color:#717073;
	text-decoration:none;
	border-bottom:1px solid #717073 !important;		
}

#error_explanation {
  width: 450px;
  border: 2px solid #e57200;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #000000; 
 }

#error_explanation  ul li {
   font-size: 16px;
	color: #e57200;
	margin-left: 20px;
   list-style: square; 
	color: gray;
}

#error_explanation h2 {
	text-align: left;
	font-weight: bold;
	/* padding: 0px 5px 5px 15px; */
	font-size: 16px;
	/*    margin: -7px; */
	margin-bottom: 0px;
	background-color: #000;
	color: #e57200; 
}

.field_with_errors {
  border: 2px solid #e57200;
  padding: 2px;
/*  background-color: red; */
  display: table; }

#heading {
 font-size: 24px;
 margin-left:15px;
}