<!DOCTYPE html>
<html>
<head>
  <title>DisplayArt</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<!--
	<p style="margin-left:20px;" class="notice"> #notice </p>
	-->
	<p style="margin-left:20px;" class="alert"><%= alert %></p>
	<%= yield %>


</body>
</html>
